In [9]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [2]:
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

1. **Rename ST to state to make it more descriptive, also GENDER to gender to avoid errors.**
2. **Put all columns names in lower case.**

In [3]:
df = df.rename(columns={"GENDER":"gender","ST":"state","Customer Lifetime Value":"customer_lifetime_value",
                       "Number of Open Complaints":"nb_of_open_complaints","Policy Type":"policy_type",
                       "Monthly Premium Auto":"monthly_premium_auto","Vehicle Class":"vehicle_class",
                       "Total Claim Amount":"total_claim_amount"})

In [4]:
df.columns = [i.lower() for i in df.columns]

In [5]:
df["gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

**female should be replaced by F, Male by M, and Femal by F.**

In [6]:
df["gender"] = df["gender"].replace({"Femal":"F","Male":"M","female":"F"})

In [7]:
df["state"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

**Washington should be replaced by WA, Arizona by AZ, California by Cali, Neveda by Nev, Oregon by Org**

In [8]:
df["state"] = df["state"].replace({"Washington":"WA","Arizona":"AZ","California":"Cali","Nevada":"Nev","Oregon":"Org"})

In [9]:
df["education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

**Column Education needs cleaning since Bachlor and Bachelors are the same**

In [10]:
df["education"] = df["education"].replace("Bachelor","Bachelors")

In [11]:
df.dtypes

customer                    object
state                       object
gender                      object
education                   object
customer_lifetime_value     object
income                     float64
monthly_premium_auto       float64
nb_of_open_complaints       object
policy_type                 object
vehicle_class               object
total_claim_amount         float64
dtype: object

1. **Customer Lifetime Value" should be cleaned by removing the "%" and changing the type to INTEGER.**

2. **"Number of Open Complaints" should be cleaned by taking only the middle number that is changing and changing the data type to float since we can not directly convert from object to int if NA values are still there.**

In [12]:
df["customer_lifetime_value"] = df["customer_lifetime_value"].str.replace("%","")

In [13]:
df["customer_lifetime_value"] = df["customer_lifetime_value"].astype("float64")

In [14]:
df["nb_of_open_complaints"] = df["nb_of_open_complaints"].str[2]

In [15]:
df["nb_of_open_complaints"] = df["nb_of_open_complaints"].astype("float64")

### Dealing with NULL Values

#### 1. Since the customer column should be unique, I will first start by dropping rows which have a NULL entry in the "customer" column. An "NA" customer should not be found.

In [16]:
df = df.dropna(subset="customer")

In [17]:
df.isna().sum()

customer                     0
state                        0
gender                     117
education                    0
customer_lifetime_value      3
income                       0
monthly_premium_auto         0
nb_of_open_complaints        0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

#### 2. For NA values in column "customer_lifetime_value", I will replace them with the mean of that column.

In [18]:
df["customer_lifetime_value"]=df["customer_lifetime_value"].fillna(value=df["customer_lifetime_value"].mean())

In [19]:
df=df.reset_index(drop=True)

In [20]:
df.isna().sum()

customer                     0
state                        0
gender                     117
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
nb_of_open_complaints        0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [21]:
df.shape

(1071, 11)

#### 3. Dropping rows having NA values as "gender" will result in decreasing our dataset by around 10.93%. That is high. So, I will replace NA values of column "gender" by the mode.

In [22]:
df["gender"].value_counts()

gender
F    502
M    452
Name: count, dtype: int64

#### Replacing NA values with "F":

In [23]:
df["gender"] = df["gender"].fillna(value="F")

In [24]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, nb_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

#### We do not have any NA values anymore.

### Turning numeric columns into integers using applymap.

In [25]:
df = df.applymap(lambda x: int(x) if type(x) == float else x)

In [26]:
df.dtypes

customer                   object
state                      object
gender                     object
education                  object
customer_lifetime_value     int64
income                      int64
monthly_premium_auto        int64
nb_of_open_complaints       int64
policy_type                object
vehicle_class              object
total_claim_amount          int64
dtype: object

#### Saving to new csv file

In [27]:
df_clean = df.to_csv("df_clean",index=False)

### Dropping Duplicates

#### Dropping fully indentical rows where all entries are identical. Keeping only the first occurrence of each duplicated row since I want the first occurence.

In [28]:
df = df.drop_duplicates(ignore_index = True)

#### Dropping duplicate customer entries since it should be unique and it might have duplicates but other entries are different due to false entries. Keeping only the first occurrence of each duplicated row.

In [29]:
df = df.drop_duplicates(subset = "customer",ignore_index = True)

In [30]:
df[df.duplicated()]

Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, nb_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

#### This shows that we dont have duplicates.

In [31]:
df_clean_1 = df.to_csv("df_clean_1",index=False)

## Challenge 2: creating functions on a separate py file

In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import func

In [12]:
strn = func.main(df)

In [13]:
strn.isna().sum()

customer                   2937
state                      2937
gender                        0
education                  2937
customer_lifetime_value       0
income                     2937
monthly_premium_auto       2937
nb_of_open_complaints      2937
policy_type                2937
vehicle_class              2937
total_claim_amount         2937
dtype: int64

## Challenge 3: Analyzing Clean and Formated Data

In [34]:
q = df["total_claim_amount"].quantile(q=0.75)
p = df["customer_lifetime_value"].quantile(q=0.25)

In [40]:
new_df = df.loc[(df["total_claim_amount"]>q) & (df["customer_lifetime_value"]<p)]
new_df = new_df.reset_index(drop=True)

In [47]:
summary_stats = new_df[["total_claim_amount","customer_lifetime_value"]].describe()
print(summary_stats)

       total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.300000            341577.425000
std            149.216449             56921.466178
min            537.000000            228759.000000
25%            632.750000            304220.500000
50%            685.000000            365995.000000
75%            799.000000            387364.000000
max           1185.000000            402381.000000