# Lab | Data Structuring and Combining Data

Objective: 
- Combine and integrate data from multiple sources using merging, concatenating, or joining techniques to generate more comprehensive and meaningful datasets for analysis.
- Modify the structure of data by pivoting, stacking/unstacking, or melting dataframes, enabling them to efficiently explore and analyze complex datasets.

# Challenge 1: Combining Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links: 
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Perform data cleaning and formatting using the main cleaning and formatting function created in the previous lab to clean and format the data.

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

Observation: 
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

df_1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df_2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df_3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [2]:
import func

df_1 = func.main(df_1)
df_2 = func.main(df_2)
df_3 = func.main(df_3)

In [3]:
df_1.shape

(1071, 11)

In [4]:
df_2.shape

(996, 11)

In [5]:
df_3.shape

(7070, 11)

In [6]:
customer_data = pd.concat([df_1,df_2,df_3], ignore_index=True)

In [7]:
customer_data.shape

(9137, 11)

#### Columns of df_1 + df_2 + df_3 add up to the column numbers of the customer_data.

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

## Exercise 1: Clean and Format the Data

While the dataset has been partially cleaned and formatted, we still need to perform several data cleaning tasks. Specifically, we need to standardize the column names, clean null values, convert the effective_to_date column to datetime, and extract the months from the dataset and store them in a separate column. 

To accomplish these tasks, we will use the functions created in the previous step to standardize the column names and deal with null values, and then we will apply additional functions to convert the effective_to_date column to datetime and extract the months.

Save the clean dataset into a csv file.

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [9]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

### It seems like we have double indexing and should drop the column named "Unamed: 0"

In [10]:
df.drop(columns=["Unnamed: 0"],inplace=True,axis=1)

### Replacing column names with spaces to underscores and lower casing the column names

In [11]:
def rename_func(x):
    x.rename(columns = {"GENDER":"gender","ST":"state","Customer Lifetime Value":"customer_lifetime_value",
                       "Number of Open Complaints":"nb_of_open_complaints","Policy Type":"policy_type",
                       "Monthly Premium Auto":"monthly_premium_auto","Vehicle Class":"vehicle_class",
                       "Total Claim Amount":"total_claim_amount","Effective To Date":"effective_to_date",
                        "EmploymentStatus":"employment_status","Location Code":"location_code",
                        "Marital Status":"marital_status","Months Since Last Claim":"months_since_last_claim",
                       "Months Since Policy Inception":"months_since_policy_inception",
                        "Number of Policies":"nb_of_policies","Renew Offer Type":"renew_offer_type",
                       "Sales Channel":"sales_channel","Vehicle Class":"vehicle_class",
                        "Vehicle Size":"vehicle_size","Vehicle Type":"vehicle_type"}, inplace=True)
    return x

In [12]:
def low_case(x):
    x.columns = [i.lower() for i in x.columns]
    return x

In [13]:
df = rename_func(df)
df = low_case(df)

In [14]:
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employment_status', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'nb_of_open_complaints', 'nb_of_policies', 'policy_type', 'policy',
       'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

In [15]:
df.isna().sum()

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
nb_of_open_complaints             633
nb_of_policies                      0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

#### Column "vehicle_type" has a lot of null values and should be dropped.

In [16]:
df.drop(columns=["vehicle_type"],inplace=True,axis=1)

#### Since we still have null values, even after dropping "vehicle_type" column. I am going to drop all other NA values.

In [17]:
def drop_na(x):
    x.dropna(inplace=True,ignore_index=True)
    return x

In [18]:
drop_na(df)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,nb_of_open_complaints,nb_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,...,99,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,82,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize
9130,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,32,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize
9131,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
9132,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
9133,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize

#### Creating a function that changes the effective_to_date column to datatime

In [19]:
def cov_to_datetime(x):
    x["effective_to_date"] = pd.to_datetime(x["effective_to_date"], format="%m/%d/%y")
    return x

In [20]:
df = cov_to_datetime(df)

In [21]:
df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,nb_of_open_complaints,nb_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,99,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize

#### The nb_of_open_complaints column should be changed to an integer datatype.

In [22]:
def clean_complaints(x):
    x["nb_of_open_complaints"] = x["nb_of_open_complaints"].astype("int64")
    return x

In [23]:
df = clean_complaints(df)

#### Extracting months from the dataset and storing them to a new column

In [24]:
def extract_month(x):
    x = pd.DatetimeIndex(x).month
    return x

In [25]:
df["months"] = extract_month(df["effective_to_date"])

#### Placing the months column next to the effective_to_date column

In [26]:
df.columns.get_loc("effective_to_date")

6

In [27]:
df.insert(7, "months", df.pop("months"))

In [31]:
# Note to self: Python lets you externally modify an object without the need of saving the changes 
# into the/a new variable (as long as the object is mutable type).
# For that reason you can operate into df without needing to make the insert function return a new instance of df.
# This does not always apply; for instance, string are non-mutable, so they need re-assignment.

## Exercise 2: Structuring Data

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total_claim_amount to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

3. You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [29]:
pivot_table = pd.pivot_table(df, values ="total_claim_amount", index="sales_channel", aggfunc="sum").round(2)

In [32]:
pivot_table

               total_claim_amount
sales_channel
Agent                  1524437.36
Branch                 1111169.08
Call Center             755639.96
Web                     573720.65

### From the table, we can infer that customers aquired through an Agent are the customers that cost the company the most since total_claim_amount is a cost for the company and not a revenue.

In [50]:
piv_table = pd.pivot_table(df, values ="customer_lifetime_value", index=["gender","education"], aggfunc="mean")

In [51]:
piv_table

                             customer_lifetime_value
gender education
F      Bachelor                          8012.877921
       College                           7732.833339
       Doctor                            7423.630380
       High School or Below              8578.995840
       Master                            8319.111562
M      Bachelor                          7722.072099
       College                           7971.342089
       Doctor                            7614.823122
       High School or Below              8010.082690
       Master                            8158.078485

### 1. We notice that the customer lifetime value for males and females with a Doctor degree is the lowest.
### 2. Customers with Master or "High School or Below" degrees have the highest lifetime values for males and females.
### 3. Male customers with a master's education have the highest lifetime value. However, female customers with a high school degree or below have the highest lifetime value.

In [52]:
pivot_ross = pd.pivot_table(df, values ="nb_of_open_complaints", index=["policy_type","months"], aggfunc="sum")

In [53]:
print(pivot_ross)

                       nb_of_open_complaints
policy_type    months
Corporate Auto 1                         367
               2                         338
Personal Auto  1                        1465
               2                        1190
Special Auto   1                          77
               2                          74